@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

/* https://codepen.io/Proxinadu/details/WNwjapq */
/* https://www.pantone.com/articles/fashion-color-trend-report/new-york-fashion-week-spring-summer-2023 */

/*
Pantone Summer 2023 Colors

#ac8266 -> Macchiato
#f5d8c6 -> Vanilla Cream
#c8e0e0 -> Skylight
#d01c1f -> Fiery Red
#ff7e04 -> Tangelo
#fa9a85 -> Peach Pink
#f7d000 -> Empire Yellow
#fdc3c6 -> Crystal Rose
#39a845 -> Classic Green
#c1db3c -> Love Bird
#4b81bf -> Blue Perennial
#a1c3da -> Summer Song

*/
* {
  font-family: 'Electrolize';
  font-size: 24px;
  font-weight: 600;
  box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefbec;
}

#calculator {
  background: #4B81BF;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 0 4px black;
  border-radius: 10px;
}

#screen-output {
  text-align: right;
  padding: 1em;
  background: #C8E0E0;
  border-radius: 10px;
  box-shadow: 0px 3px 0 0px black;
}

#calc-btns {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  padding: 10px;
  width: 250px;
}

#calc-btns button {
  margin-bottom: 10px;
  padding: 0;
  height: 40px;
  color: #fff;
  background: #F7D000;
  border-radius: 10px;
  box-shadow: 0 5px 0 0 #000;
  user-select: none;
  transition: .1s ease-out;
  border: none;
}

#calc-btns button.active,
#calc-btns button:active {
  transform: translateY(5px);
  box-shadow: 0 0 0 0 #000;
}

button:focus {
  outline: none;
}

#calc-btns button#clear,
#calc-btns button#clearAll,
#calc-btns button.equal
 {
  background: #AC8266;
}

#calc-btns button.operator {
  background: #FF7E04;
}

#calc-btns button[value="+"] {
  background: #39A845;
}

#calc-btns button[value="-"] {
  background: #D01C1F;
}

/* ----------------------------- */

button[value="0"] {
  grid-column-start: 1;
  grid-column-end: 3;
}

button.equal {
  grid-column-start: 4;
  grid-column-end: 6;
  color: #fff;
  background: #ffc809;
  box-shadow: 0 8px 0 0 #fd9a18;
}

button.equal.active,
button.equal:active {
  box-shadow: 0 0 0 0 #fd9a18;
}